*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.main-nav{
  height: 100px;
  width: 100%;
    background-color: lightcoral;
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}


.nav{
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
color: wheat;
}

.nav .link{
  color: white;
  text-decoration: none;
  
}
.link:active{
  color: gray;
}

.product{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 33, 33);
  width: 100%;
  height: 84.4vh;
  color: white;
}

.courses{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84.3vh;
  width: 100%;
  color: white;
  background-color: red;
}