*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.nav{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  background-color: lightcoral;
}

.product{
  background-color: black;
  width: 100%;
  height: 100%;
}